.hud {
    text-align: left;
    color: yellow;
    font-family: fantasy;
    font-size: 40px;
    width: 100%;
}

.label {
    padding-right: 1em;
}

.lives, .score {
    display: inline-block;
}

.score {
    padding-left: 1em;
}

.lives {
    float: right;
    padding-right: 1em;
}
